:root {
	--color-black: #1C1C1C;
	--color-write: #fff;
    --color-rosa: #fa2257;
    --color-plomo: #e4e4e4;
	--color-seleccion: #77767670;
    --color-trasparente: rgba(255, 255, 255, 0);
    --letra-Monserrat:'Montserrat', sans-serif;
}
*{
    margin: 0px;
    border: 10px;
    outline: none;
    text-decoration: none;
    background-color: var(--color-write);
    font-family: var(--letra-Monserrat);
}
*:hover{/*
    background-color: var(--color-seleccion);*/
}
header{
    width: 100%;
    height: 70px;
    display: flex;
    position: relative;
    justify-content: space-between;
    background: var(--color-write);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.content-logo{
    width: auto;
    height: 70px;
    display: flex;
}
.content-logo div{
    width: 150px;
    height: 70px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.content-menu{
    width: auto;
    height: 70px;
    display: flex;
}
.content-menu div{
    width: 150px;
    height: 70px;
    margin-left: 3px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.content-menu div p{ 
    align-content: center;
}
.body-content-principal{
    background-color: var(--color-write);
    width: 50%;
    height: 200px;
    margin: 30px 50% 0px 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid rgba(138, 137, 137, 0.349);
    display: flex;
    justify-content: center;
}
.content-principal-base{
    width: 400px;
    height: 100%;
    background-color: var(--color-trasparente);
    display: flex;
    flex-direction: column;
}
.principal-base-logo{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--color-trasparente);
}
.base-logo-img{
    width: 170px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.base-logo-img img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.principal-base-menu{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    background-color: var(--color-trasparente);
}
.principal-base-menu div{
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-content-img{
    background-size: cover;
    width: 50%;
    height: 400px;
    margin: 50px 50% 0px 50%;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    border-bottom: 2px solid rgba(138, 137, 137, 0.349);
}
.content-img{
    width: 550px;
    height: 340px;
    overflow: hidden;
}
.body-content-img2{
    background-size: cover;
    width: 50%;
    height: 280px;
    margin: 50px 50% 50px 50%;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
}
.content-img2{
    width: 250px;
    height: 100%;
    overflow: hidden;
}
.content-img2 img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.content-redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 370px;
    height: 100%;
    margin-left: 50px;
}
.redes-title{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    font-size: 60px;
}
.redes-icons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
.redes-icons div{
    width: 70px;
    height: 70px;
}
.redes-icons img{
    width: 100%;
    height: 100%;
}
.body-content-img img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.body-content-info{
    width: 70%;
    height: 900px;
    margin: 50px 50% 0px 50%;
    transform: translateX(-50%);
    display: flex;
}
.content-info-img{
    width: 100vh;
    height: 100%;
}
.content-info-img img{
    width: 100%;
    height: 100%;
}
.content-info-info{ /*------------------*/
    width: 50vh;
    padding: 70px 70px 0 70px;
}
.info-title{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-title a{
    width: 100%;
    font-size: 50px;
}
.info-contact{
    width: 50vh;
    height: 100px;
    margin-top: 60px;
    display: flex;
    border-bottom: 2px solid rgba(138, 137, 137, 0.349);
}
.contact-title{
    width: 15vh;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-dato{
    width: 40vh;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-dato a img{
    width: 25px;
    height: 15px;
}
.info-message{
    width: 50vh;
    height: 200px;
    margin-top: 40px;
    display: flex;
}
.message-title{
    width: 100px;
    height: 83px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.message-label{
    width: 50vh;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.message-label input{
    padding: 10px;
    background-color: var(--color-plomo);
}
.message-label div{
    width: 36vh;
    height: 100px;
    margin-top: 30px;
}
.message-label div textarea{
    width: 37.5vh;
    height: 100px;
    padding: 10px;
    background-color: var(--color-plomo);
}
.message-button{
    width: 50vh;
    height: auto;
    margin-top: 20px;
}
.message-button button{
    width: 100px;
    padding: 10px;
    float: right;
    margin-right: 100px;
    background-color: var(--color-rosa);
    color: var(--color-write);
}
.body-content-null{
    width: 50%;
    height: 50px;
    margin: 0 50% 40px 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid rgba(138, 137, 137, 0.349);
}
.body-content-proyect{
    width: 150vh;
    height: auto;
    margin: 0 50% 20px 50%;
    transform: translateX(-50%);
}
.content-proyect-title{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.content-proyect-base{
    width: 150vh;
    height: 60vh;
    padding: 75px 0px;
    display: flex;
}
.proyect-base-flecha{
    width: 25vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proyect-base-flecha button{
    width: 80px;
    height: 250px;
    clip-path: polygon(100% 27%, 51% 49%, 100% 74%, 100% 100%, 0 49%, 100% 0);
    transform: translateX(-50%);
    background-color: var(--color-plomo);
}
.proyect-base-flecha:nth-child(3n) button{
    transform: rotate(180deg);
}
.proyect-base-img{
    width: 100vh;
    height: 100%;
}
.proyect-base-img img{
    width: 100%;
    height: 100%;
}
.proyect-base-button{
    width: 150px;
    height: 50px;
    margin: 0 50% 100px 50%;
    transform: translateX(-50%);
}
.proyect-base-button button{
    width: 150px;
    height: 50px;
    background-color: var(--color-rosa);
    color: var(--color-write);
}
.body-contend-slogan{
    width: 100%;
    height: 70px;
    margin-bottom: 0px;
    background-color: var(--color-plomo);
}
.body-contend-slogan img{
    width: 140px;
    height: 140px;
    margin-top: -30px;
    float: right;
}